<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Placering</title>

	<link href="/styles/style.css" rel="stylesheet" type="text/css">

</head>

<body>

	<div class="max-w-screen-sm flex flex-col justify-between h-screen bg-gray-300">
		placement!



		<%- include('../partials/footer', { active: 'placement' }); %>


	</div>
</body>

</html>